ul{
    list-style: none;
}
.pic{
    background-image: url("biglogo.gif");
    background-repeat: no-repeat;
    position: center;
    height: 200px;
    width: 100%;
}
.panel-1 {
    border-radius: 10px;
    border: solid 1px blue;
}
.big-heading1 > h4{
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color:lightblue;
    padding: 20px;  
}
.form-1{
    border-bottom: solid 1px grey;
}

.heading-2 > h4 {
    margin-top: 0px;
    padding: 20px;
}
.form-group2 > li {
    padding: 5px;
}
.form-2 {
    border-bottom: solid 1px grey;
}
.form-3 {
    border-bottom: solid 1px grey;
}
.heading-3 > h4 {
    margin-top: 0px;
    padding: 20px;

}
.heading-4 > h4 {
    margin-top: 0px;
    padding: 20px;

}
.panel-2{
    border-radius: 10px;
    margin-top: 20px;
    border: solid 1px red;
}
.big-heading2 > h4 {
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: red;
    padding: 20px;  
}
.form-group5 > li {
    padding: 2px 5px 5px 5px;
    margin-bottom: 2px;
    
}
.panel-3 {
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px rgb(41, 97, 161);
}
.big-heading3 > h4 {
    border-radius: 10px 10px 0px 0px;
    background: rgb(41, 97, 161);;
    margin-top: 0px;
    padding: 20px;
}
.form-group6 > li {
    padding: 2px 5px 5px 5px;
    margin-bottom: 2px;
}
.panel-4 {
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px red;
}
.big-heading4 > h4{
    background: red;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
    padding: 20px;
    
}
.form-group7 > li {
    padding: 2px 5px 5px 5px;
    margin-bottom: 2px;
}
table {
    margin-left: 15px;
    margin-bottom: 10px;
}
tbody > tr >td {
    padding: 5px;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.btn > input {
    padding : 10px 345px 10px 345px;
    background-color: greenyellow;
    border-radius: 10px;

}
span{
    color: red;
}
@media (max-width: 500px){
    ul{
        list-style: none;
    }
    
    .pic{
        background-image: url("logo.png");
        position: center;
        background-repeat: no-repeat;
        height: 15rem;
    }
    .panel-1 {
        border-radius: 10px;
        border: solid 1px blue;
    }
    .big-heading1 > h4{
        margin-top: 0px;
        border-radius: 10px 10px 0px 0px;
        background-color:lightblue;
        padding: 20px;  
    }
    .form-1{
        border-bottom: solid 1px grey;
    }
    
    .heading-2 > h4 {
        margin-top: 0px;
        padding: 20px;
    }
    .form-group2 > li {
        padding: 5px;
        
    }
    .form-2 {
        border-bottom: solid 1px grey;
    }
    .form-3 {
        border-bottom: solid 1px grey;
    }
    .heading-3 > h4 {
        margin-top: 0px;
        padding: 20px;
    
    }
    .heading-4 > h4 {
        margin-top: 0px;
        padding: 20px;
    
    }
    .panel-2{
        border-radius: 10px;
        margin-top: 20px;
        border: solid 1px red;
    }
    .big-heading2 > h4 {
        margin-top: 0px;
        border-radius: 10px 10px 0px 0px;
        background-color: red;
        padding: 20px;  
    }
    .form-group5 > li {
        padding: 2px 5px 5px 5px;
        margin-bottom: 2px;
        
    }
    .form-group5 > li > input{
        max-width: 15rem;
    }
    .panel-3 {
        margin-top: 20px;
        border-radius: 10px;
        border: solid 1px rgb(41, 97, 161);
    }
    .big-heading3 > h4 {
        border-radius: 10px 10px 0px 0px;
        background: rgb(41, 97, 161);;
        margin-top: 0px;
        padding: 20px;
    }
    .form-group6 > li {
        padding: 2px 5px 5px 5px;
        margin-bottom: 2px;
    }
    .form-group6 > li > input{
        max-width: 15rem;
    }
    .panel-4 {
        margin-top: 20px;
        border-radius: 10px;
        border: solid 1px red;
    }
    .big-heading4 > h4{
        background: red;
        border-radius: 10px 10px 0px 0px;
        margin-top: 0px;
        padding: 20px;
        
    }
    .form-group7 > li {
        padding: 2px 5px 5px 5px;
        margin-bottom: 2px;
    }
    table {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    tbody > tr >td {
        padding: 5px;
    }
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .btn > input {
        padding : 10px;
        background-color: greenyellow;
        border-radius: 10px;
    
    }
    span{
        color: red;
    }
    
}